html,
body {
  /*block*/
  margin: 0;
  padding: 0;
}
.header {
  /*font*/
  font-family: "Arial Black", serif;
  font-size: 20px;
  color: Black;

  /*block*/
  background-color: white;
  padding: 5px;
}
.header-right {
  /*block*/
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
.header img {
  height: 70px;
  margin-left: 10px;
}
.menu {
  /*block*/
  background-color: Black;
  display: flex;

  /*font*/
  font-family: "Arial Black", serif;
  color: white;
  font-size: 15px;
}
.menu-button {
  /*block*/
  min-width: 200px;
  text-align: center;
  padding: 10px;
}
.menu-space {
  /*block*/
  width: 100%;
}
.block-white {
  background-color: white;
}
.block-black {
  background-color: black;
}
.header-text-black {
  /*font*/
  font-family: "Arial Black", serif;
  color: black;
  font-size: 20px;
  text-align: center;

  /*block*/
  padding: 15px;
}
.header-text-white {
  /*font*/
  font-family: "Arial Black", serif;
  color: white;
  font-size: 20px;
  text-align: center;

  /*block*/
  padding: 15px;
}
.content-black {
  /*font*/
  font-family: "Arial", serif;
  color: black;
  font-size: 20px;

  /*block*/
  width: 75%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: justify;
}
.benefits {
  /*font*/
  font-family: "Arial", serif;
  color: white;
  font-size: 20px;

  /*block*/
  width: 75%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: justify;
}
.feedback {
  display: flex;
}
.content-white {
    /*font*/
    font-family: "Arial", serif;
    color: white;
    font-size: 20px;

    /*block*/
    width: 75%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: justify;
}
.feedback input {
  /*block*/
  width: 200px;
  padding: 5px;
  margin: 10px;
  border: 0;
  border-radius: 10px;
  text-align: center;
  background-color: black;
  color: white;

  /*font*/
  font-family: "Arial Black", serif;
  font-size: 14px;
}
.feedback-space {
  width: 100%;
}
.services {
  /*font*/
  font-family: "Arial", serif;
  color: black;
  font-size: 20px;

  /*block*/
  display: flex;
  padding-bottom: 20px;
}
.services img {
  height: 200;
  border-radius: 100%;
}
